body {
  margin: 0;
  background-color: #F3F7FA;
  font-family: 'OpenSans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html {
  font-family: 'OpenSans', Arial, sans-serif;
}
